<<<<<<< HEAD

/*reglas globales del sitio*/
body{
    margin: 0;
}

/*HEADER*/
=======
/* reglas globales del sitio */
body{
margin: 0;
}

>>>>>>> 290b948c20709dfb1c61f27b4cfdd04014ba8d74
header{
    height: 48px;
    padding: 20px 18px;
    background: #0071DC;
}
<<<<<<< HEAD
.btnHeader{
    padding: 14px 15px;
    border: none;
    background: transparent;
    border-radius: 25px;
    color: white;
    font-weight: bold;
}
.btnHeader:hover{
    background-color: rgb(1, 67, 128);
=======
#divheader{
height: 32px;
padding: 4px 24px;
border-top: solid white 1px;
background: #0071DC;



}
.buttonHeader{
padding: 14px 10px;
border: none;
background: transparent;
border-radius: 25px;
color: white;
font-weight: bold;

>>>>>>> 290b948c20709dfb1c61f27b4cfdd04014ba8d74
}
#inputHeader{
    width: 40%;
    height: 80%;
    border-radius: 25px;
    border: none;
}
<<<<<<< HEAD
/*FIN HEADER*/
#divHeader{
    height: 32px;
    padding: 4px 24px;
    border-top: solid white 1px;
    background: #0071DC;
=======
.buttonHeader:hover{
background-color: rgb(1, 72, 138);
>>>>>>> 290b948c20709dfb1c61f27b4cfdd04014ba8d74
}
#direccion{
    width: 49%;
    display: inline-block;
    color: white;
    position: relative;
    top: -10px;
<<<<<<< HEAD
}
#direccion > span:first-of-type{
    font-weight: bold;
}
#navHeader{
    width: 49%;
    display: inline-block;
}
#navHeader ul{
    position: relative;
    top: -10px;
}
#navHeader ul li{
=======
    
}

#direccion > span:first-of-type{
    font-weight: bold;
}



#navheader{
    width: 49%;
    display: inline-block
    }
#navheader ul li{
>>>>>>> 290b948c20709dfb1c61f27b4cfdd04014ba8d74
    display: inline-block;
    list-style: none;
    color: white;
    font-weight: bold;
    margin-right: 8px;
<<<<<<< HEAD
}
=======

}

.material-symbols-outlined{
    font-size: 16px !important;
    color: white;

}
#navheader ul{
    position: relative;
    top: -10px;
}
>>>>>>> 290b948c20709dfb1c61f27b4cfdd04014ba8d74
